@media screen and (max-width:900px){
  .project{
    /*width: 40% !important;*/
  }
  #content.child{
    width: 90%;
  }
}

@media screen and (max-width:700px){
  header{
    nav{
      z-index: -1;
      display:block;
      width: $size__menu-width;
      background: $color__light;
      position: fixed;
      height: 100%;
      top: $size__header-height;
      right:-$size__menu-width;
      @include transition(right 0.5s);

      &.show{
        right: 0;
        @include transition(right 0.5s);
      }
      ul{
        padding: 0;
        height: 100%;
        width: $size__menu-width;
        li{
          display: inline-block;
          clear: both;
          height: $size__header-height;
          width: $size__menu-width;
          a{
            width: 100%;
            float: left;
          }
        }
      }
    }
    button{
      display: block;
      float: right;
      height: $size__header-height;
      width: $size__header-height;
      margin: 0.5em;
      border-style: none;
      background: url('icons/menu.svg') no-repeat transparent;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      @include transform( rotate(90deg) );
      @include transition( transform 0.5s );
      &.toggle{
        @include transform( rotate(-90deg) );
        @include transition( transform 0.5s );
      }
    }
  }
  #content{
    width: auto;
    .child{
      width: 100%;
    }
  }
  .project{
    /*width: calc( 100% - 1em ) !important;*/
  }
}

@media screen and (max-width:600px) {
    .portrait img {
        width: 100%;
        clear: both;
    }
    .about-me-content {
        width: 100%;
        max-width: 100%;
        clear: both;
    }
    .about-me-title {
        width: 100%;
        clear: both;
    }
    .about-me-content {
        margin-left: 0;
    }
}
