//Design
body{
  background: $color__dark;
}
header{
  @include box-shadow($color__shadow !important);
  right: 0; left: 0; top: 0;
  position: fixed;
  z-index: 2;
  width:100%;
  height: $size__header-height;
  background: url('img/banner.jpg') no-repeat/*$color__light*/;
  background-size: cover;
  padding:0;
  #title{
    margin: 0.5em;
    padding-left: 64px;
    background: url( 'icons/logo.svg') no-repeat;
    float:left;
    display:inline-block;
    h1{
      display:inline-block;
      margin: 0;
      clear: both;
      color: white;
    }
  }
  button{
    display:none;
  }
  nav{
    float: left;
    ul{
      li{
        float: left;
        list-style: none;
        a{
          color: white;
          text-decoration: none;
          padding: 1em;
          background: transparent;
          @include box-shadow(none !important);
          @include transition(background 1s, box-shadow 1s);
          &:hover{
            background: $color__medium-light;
            @include box-shadow($color__shadow !important);
            @include transition(background 1s, box-shadow 1s);
          }
          &.selected{
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#content{
  overflow: hidden;
  overflow-y: visible;
  margin-top: calc( #{$size__header-height} - 0.5em );
  padding: 1em;
  z-index: 0;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: $color__medium-light;
  .child{
    display:none;
    &.show{
      display:block;
    }
  }
  #project-tags{
    clear: both;
    width: 100%;
    display: inline-block;
    label{
      display: inline-block;
      padding: 0.2em;
      /*background: $color__light;*/
      @include border-radius( 25px);
      input:checked{
        &{
          background: green;
        }
      }
    }
  }
  work,cv,downloads{color:black;}
  .project{
    display: none;
    background: $color__light;
    width: auto;
    float:left;
    margin: 0.5em;
    padding: 0.5em;
    width: calc( 100% - 1em );
    float: left;
    @include box-shadow($color__shadow);
    &.show{
      display: block;
    }
    .p-name{
    }
    .p-year{
      float:right;
    }
  }

  .show .download{
    h3{
      &> button{
        float: right;
        &.toggle{
          /*background: url('icons/close.svg') no-repeat transparent;*/
        }
      }
    }
    .more{
      display: none;
    }
    &.foreground{
      margin-left: -1em;
      z-index: 1;
      background: $color__light;
      width: 100%;
      padding: 1em;
      top: 0;
      margin-top: $size__header-height;
      @include box-shadow($color__shadow);
      .more{
        display: block;
      }
      .dl-link{
        padding: 0;
        list-style: none;
      }
    }
  }
}
//CV
.float-left {
    float: left;
    max-width: 30em;
    margin-top: 1em;
}
.float-right {
    float: right;
}
.portrait {
    width: auto;
}
.portrait img {
    height: auto;
}
.about-me-content {
    margin-left: 2em;
    width: 66%;
    max-width: 66%;
}
.about-me-title {
    width: 7em;
    font-weight: bold;
    clear: left;
}
.name {
    padding: 0 0.2em 0 0;
}

/*Gallery*/
.carousel{
    overflow:hidden;
    width:100%;
}
.slides{
    list-style:none;
    position:relative;
    overflow:hidden;
    padding-left: 0;
    &> li{
        position:relative;
        float:left;
        width: 20%;
        img{
            display:block;
            margin: auto;
            width:auto;
            max-width:100%;
        }
        &.full{
          position:relative;
          margin-left: auto;
          margin-right: auto;
          z-index: 3;
          display:inline-block;
          width: 100% !important;
        }
        &.hide{
          display: none;
        }
    }
}
