@charset "UTF-8";
/* gr├©nt tema
$color__light: #009733;
$color__medium-light: #007628;
$color__medium: #00561D;
$color__medium-dark: #003010;
$color__dark: #000000;
*/
.float-right {
  float: right; }

.float-left {
  float: left; }

.clear-both {
  clear: both; }

.hide {
  display: none; }

#title h1 {
  font-family: "franklin-gothic-urw", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05); }

img {
  max-width: 100%;
  height: auto; }

body {
  background: #000000; }

header {
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21) !important;
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21) !important;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21) !important;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 3em;
  background: url("img/banner.jpg") no-repeat;
  background-size: cover;
  padding: 0; }
  header #title {
    margin: 0.5em;
    padding-left: 64px;
    background: url("icons/logo.svg") no-repeat left center;
    float: left;
    display: inline-block; }
    header #title h1 {
      display: inline-block;
      margin: 0;
      clear: both;
      color: white; }
  header button {
    display: none; }
  header nav {
    float: left; }
    header nav ul li {
      float: left;
      list-style: none; }
      header nav ul li a {
        color: white;
        text-decoration: none;
        padding: 1em;
        background: transparent;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition: background 1s, box-shadow 1s;
        -o-transition: background 1s, box-shadow 1s;
        -moz-transition: background 1s, box-shadow 1s;
        -ms-transition: background 1s, box-shadow 1s;
        transition: background 1s, box-shadow 1s; }
        header nav ul li a:hover {
          background: #9B9999;
          filter: blur(5px);
          opacity: 0.5;
          filter: alpha(opacity=50);
          /* For IE8 and earlier */
          -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21) !important;
          -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21) !important;
          box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21) !important;
          -webkit-transition: background 1s, box-shadow 1s;
          -o-transition: background 1s, box-shadow 1s;
          -moz-transition: background 1s, box-shadow 1s;
          -ms-transition: background 1s, box-shadow 1s;
          transition: background 1s, box-shadow 1s; }
        header nav ul li a.selected {
          font-weight: bold;
          text-decoration: underline; }

#content {
  overflow: hidden;
  overflow-y: visible;
  margin-top: calc( 3em - 0.5em );
  padding: 1em;
  z-index: 0;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #9B9999; }
  #content .child {
    display: none; }
    #content .child.show {
      display: block; }
  #content #project-tags {
    clear: both;
    width: 100%;
    display: inline-block; }
    #content #project-tags label {
      display: inline-block;
      padding: 0.2em;
      /*background: $color__light;*/
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      border-radius: 25px; }
      #content #project-tags label input:checked {
        background: green; }
  #content work, #content cv, #content downloads {
    color: black; }
  #content .project {
    display: none;
    background: #FFF;
    width: auto;
    float: left;
    margin: 0.5em;
    padding: 0.5em;
    width: calc( 100% - 1em );
    float: left;
    -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21); }
    #content .project.show {
      display: block; }
    #content .project .p-year {
      float: right; }
  #content .show .download h3 > button {
    float: right; }
    #content .show .download h3 > button.toggle {
      /*background: url('icons/close.svg') no-repeat transparent;*/ }
  #content .show .download .more {
    display: none; }
  #content .show .download.foreground {
    position: absolute;
    margin-left: -1em;
    z-index: 1;
    background: #FFF;
    width: 80%;
    padding: 1em;
    top: 0;
    margin-top: 3em;
    -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21); }
    #content .show .download.foreground .more {
      display: block; }
    #content .show .download.foreground .dl-link {
      padding: 0;
      list-style: none; }

.cv-left {
  float: left;
  max-width: 30em;
  margin-top: 1em; }

.float-right {
  float: right; }

.portrait {
  width: auto; }

.portrait img {
  height: auto; }

.about-me-content {
  margin-left: 2em;
  width: 66%;
  max-width: 66%; }

.about-me-title {
  width: 7em;
  font-weight: bold;
  clear: left; }

.name {
  padding: 0 0.2em 0 0; }

/*Gallery*/
.carousel {
  overflow: hidden;
  width: 100%; }

.slides {
  list-style: none;
  position: relative;
  overflow: hidden;
  padding-left: 0; }
  .slides > li {
    position: relative;
    float: left;
    width: 20%; }
    .slides > li img {
      display: block;
      margin: auto;
      width: auto;
      max-width: 100%; }
    .slides > li.full {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      z-index: 3;
      display: inline-block;
      width: 100% !important; }

iframe {
  max-width: 100%;
  max-height: auto; }

@media screen and (max-width: 900px) {
  .project {
    /*width: 40% !important;*/ }

  #content.child {
    width: 90%; } }
@media screen and (max-width: 700px) {
  header nav {
    z-index: -1;
    display: block;
    width: 15em;
    background: #FFF;
    position: fixed;
    height: 100%;
    top: 3em;
    right: -15em;
    -webkit-transition: right 0.5s;
    -o-transition: right 0.5s;
    -moz-transition: right 0.5s;
    -ms-transition: right 0.5s;
    transition: right 0.5s; }
    header nav.show {
      right: 0;
      -webkit-transition: right 0.5s;
      -o-transition: right 0.5s;
      -moz-transition: right 0.5s;
      -ms-transition: right 0.5s;
      transition: right 0.5s; }
    header nav ul {
      padding: 0;
      height: 100%;
      width: 15em; }
      header nav ul li {
        display: inline-block;
        clear: both;
        height: 3em;
        width: 15em; }
        header nav ul li a {
          width: 100%;
          float: left;
          color: black; }
  header button {
    display: block;
    float: right;
    height: 3em;
    width: 3em;
    margin: 0.5em;
    border-style: none;
    background: url("icons/menu.svg") no-repeat transparent;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    transition: transform 0.5s; }
    header button.toggle {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transition: transform 0.5s;
      -o-transition: transform 0.5s;
      -moz-transition: transform 0.5s;
      -ms-transition: transform 0.5s;
      transition: transform 0.5s; }

  #content {
    width: auto; }
    #content .child {
      width: 100%; }
      #content .child .foreground {
        width: 90% !important; }

  .project {
    /*width: calc( 100% - 1em ) !important;*/ } }
@media screen and (max-width: 600px) {
  .portrait img {
    width: 100%;
    clear: both; }

  .about-me-content {
    width: 100%;
    max-width: 100%;
    clear: both; }

  .about-me-title {
    width: 100%;
    clear: both; }

  .about-me-content {
    margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
