<h2>{{title}}</h2>
<div itemscope itemtype="http://schema.org/Person">
    <div class="cv-left portrait">
        <img src="img/moi-300x265.jpg" alt="Jonas Kossai Flønes"/>
    </div>
    <div class="cv-left about-me-content">
        <p>
            My name is <span itemprop="givenName">{{cv.givenName}}</span>
            <span itemprop="additionalName">{{cv.additionalName}}</span>
            <span itemprop="familyName">{{cv.familyName}}</span> and I am from
            <span itemprop="nationality">{{cv.nationality}}</span>.
            I graduated from {{education.institution}}, with a {{education.degree}}'s degree in
            {{education.education}} the summer of {{education.graduationYear}}.
        </p>
        <p>
            I am currently a
            <span itemprop="jobTitle">{{cv.occupation}}</span>, and do some freelance work every now and then.
            You can find all of the development projects that I have worked on, in the "projects" section of the website.
            Some of the code is available on <a [href]="cv.github" target="_blank">GitHub</a>. You can also find me on
            <a [href]="cv.linkedin">Linkedin</a>.
        </p>
        <p>
            What I liked the most from my education, were the Software Engineering, Information architecture, Operating Systems with Linux and programming courses.
            The programming courses were Introduction to programming, Android development, OOP (with Java), Web development and game development (C# & Unity3D).
        </p>
        <p>
          Below you can see some of the skills that I have acquired.
          A rating of 1 star indicates that I know the basic concepts of the skill, but haven't really done much other than learning it.
          The 3 star rating would indicate that I have done a couple projects, utelizing this skill (paid or for my own enjoyment).
          A 5 star rating would indicate that I feel as if I have mastered the skill, at a professional level(as a paid professional).
        </p>

        <div class="cv-left about-me-title">Programming: </div>
        <div class="skill-programming">
            <div class="skill" *ngFor="let p of skills.programming">
                <div class="clear-both">
                    <img class="logo float-left" [src]="p.icon" [alt]="p.name"/>
                    <div class="float-left">
                        <em>{{p.name}}</em>
                        <br> In year {{year - p.fromYear + 1}} -
                        <div class="rating float-right rating-{{p.rating}}"></div>
                    </div>
                </div>
                <div class="sub-skills">
                    <div class="sub-skill" *ngFor="let s of p.subSkill">
                        {{s.name}}
                        <div class="rating float-right rating-{{s.rating}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-me-title" style="width: auto;">Tools: </div>
        <div class="skill-programming">
            <div class="skill" *ngFor="let p of skills.tools">
                <div class="clear-both">
                    <img class="logo float-left" [src]="p.icon" />
                    <div class="float-left">
                        <em>{{p.name}}</em>
                        <br>
                        <div class="float-left rating rating-{{p.rating}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-me-title" style="width: auto;">Operating systems: </div>
        <div class="skill-programming">
            <div class="skill" *ngFor="let p of skills.os">
                <div class="clear-both">
                    <img class="logo float-left" [src]="p.icon" />
                    <div class="float-left">
                        <em>{{p.name}}</em>
                        <br>
                        <div class="rating float-right rating-{{p.rating}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-me-title">Languages: </div>
        <div class="skill-programming">
            <div class="skill" *ngFor="let p of skills.languages">
                <div class="clear-both">
                    <img class="logo float-left" [src]="p.icon" />
                    <div class="float-left">
                        <em>{{p.name}}</em>
                        <br> {{p.rating}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
