<h2>CV</h2>
<div itemscope itemtype="http://schema.org/Person">
    <div class="cv-left portrait">
        <img src="img/moi-300x265.jpg" />
    </div>
    <div class="cv-left about-me-content">
        <div class="cv-left about-me-title">Name: </div>
        <div class="cv-left name" itemprop="givenName">{{cv.givenName}}</div>
        <div class="cv-left name" itemprop="additionalName">{{cv.additionalName}}</div>
        <div class="cv-left name" itemprop="familyName">{{cv.familyName}}</div>
        <div class="cv-left about-me-title">Mail: </div>
        <div class="cv-left " itemprop="email"><a href="mailto:{{cv.mail}}">{{cv.mail}}</a></div>
        <div class="cv-left about-me-title">Nationality: </div>
        <div class="cv-left " itemprop="nationality">{{cv.nationality}}</div>
        <div class="cv-left about-me-title">Occupation: </div>
        <div class="cv-left " itemprop="jobTitle">{{cv.occupation}}</div>
        <div class="cv-left about-me-title">Company: </div>
        <div class="cv-left " itemprop="worksFor">{{cv.company}}</div>
        <div class="cv-left about-me-title">Programming: </div>
        <div class="skill-programming">
            <div class="skill" *ngFor="let p of skills.programming">
                <div class="clear-both">
                    <img class="logo float-left" src="img/moi-300x265.jpg" />
                    <div class="float-left">
                        <em>{{p.name}}</em><br>
                        Year {{year - p.fromYear}} - <div class="rating rating-{{p.rating}}"></div>
                    </div>
                </div>
                <div class="sub-skills">
                    <div class="sub-skill" *ngFor="let s of p.subSkill">
                        {{s.name}} <div class="rating rating-{{s.rating}}"></div>
                    </div>    
                <div>
            </div>
        </div>
        <!--
        <div class="cv-left ">
            Programming: <em>Java, C#, JavaScript(jQuery, ES6, TypeScript and Angular 2), PHP, Shell scriting, Swift and C.</em> <br>
            Software and tools: <em>Git, Maya, Unity3D, Visual studio, Android Studio, Eclipse, PhpStorm, Monodevelop, xCode, npm, Photoshop, Illustrator, RESTFUL API and MySQL.</em><br>
            Operating systems: <em>Linux, macOS and Windows</em><br>
            Languages: <em>English(fluent) and Norwegian (native).</em>
        </div>-->
    </div>
</div>
