<h2>CV</h2>
<div itemscope itemtype="http://schema.org/Person">
    <div class="cv-left portrait">
        <img src="img/moi-300x265.jpg" />
    </div>
    <div class="cv-left about-me-content">
        <div class="cv-left about-me-title">Name: </div>
        <div class="cv-left name" itemprop="givenName">Jonas</div>
        <div class="cv-left name" itemprop="additionalName">Kossai</div>
        <div class="cv-left name" itemprop="familyName">Flønes</div>
        <div class="cv-left about-me-title">Mail: </div>
        <div class="cv-left " itemprop="email"><a href="mailto:mail@jonaskf.net">mail@jonaskf.net</a></div>
        <div class="cv-left about-me-title">Nationality: </div>
        <div class="cv-left " itemprop="nationality">Norwegian</div>
        <div class="cv-left about-me-title">Occupation: </div>
        <div class="cv-left " itemprop="jobTitle">Freelance web developer</div>
        <div class="cv-left about-me-title">Company: </div>
        <div class="cv-left " itemprop="worksFor">Østfold universety college</div>
        <div class="cv-left about-me-title">Expertise: </div>
        <div class="cv-left ">
            Programming: <em>Java, C#, JavaScript(jQuery, ES6, TypeScript and Angular 2), PHP, Shell scriting, Swift and C.</em> <br>
            Software and tools: <em>Git, Maya, Unity3D, Visual studio, Android Studio, Eclipse, PhpStorm, Monodevelop, xCode, npm, Photoshop, Illustrator, RESTFUL API and MySQL.</em><br>
            Operating systems: <em>Linux, macOS and Windows</em><br>
            Languages: <em>English(fluent) and Norwegian (native).</em>
        </div>
    </div>
</div>
