<h2>Downloads</h2>
<div class="download" [ngClass]="{foreground: d.slug === foreground}" [ngClass]="{show: d.slug === foreground || foreground === ''}" *ngFor="let d of downloads.downloads">
  <h3>{{d.name}} <button [ngClass]="{toggle: d.slug == foreground}" class="btn" (click)="readMore(d.slug)">Read {{d.slug == foreground ? 'less' : 'more'}}</button></h3>
  <p [innerHTML]="d.summary"></p>
  <p><strong>Status: </strong>{{d.status}}</p>
  <p><strong>Requirements: </strong>{{arrayToString(d.requirements)}}</p>
  <div class="carousel">
    <ul class="slides more">
      <li [ngClass]="{full: fullscreenImg === i, hide: fullscreenImg !== -1 && fullscreenImg !== i}" (click)="imgClick(i)" *ngFor="let img of d.images, let i = index">
        <img [src]="img.src" [alt]="img.alt"/>
      </li>
    </ul>
  </div>
  <ul class="dl-link">
    <li *ngFor="let url of d.changelog[0].url">
      <a [href]="url.href" class="btn">Download {{d.changelog[0].version}} for {{url.platform}}</a>
    </li>
  </ul>
  <p class="more" [innerHTML]="d.text"></p>
  <h3 class="more">Changelog</h3>
  <div class="more" *ngFor="let c of d.changelog">
    <strong>{{c.date || date}} - {{c.version}}</strong>
    <ul class="dl-link">
      <li *ngFor="let url of c.url">
        <a *ngIf="c.url !== ''" [href]="url.href">Download for {{url.platform}}</a>
      </li>
      <li *ngIf="c.url.length === 0">No download links are available</li>
    </ul>
    <div [innerHTML]="c.changes"></div>
  </div>
</div>
